@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&display=swap');

.menu {
    border-bottom: solid white;
    padding: 30px 18px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
}

a:hover {
    color:white;
}

body {
    font-family: Overpass;
    font-size: 20px;
    color: white;
    background-color: rgb(37, 37, 37);
}

.a_menudesktop {
    text-decoration: none;
    color: rgba(179, 179, 179, 0.705);
    margin-inline: 40px;
}

#currentpage {
    color:white;
    font-size: 20px;
    font-weight: 700;
}

#imagehometown {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.content {
    padding: 30px 18px;
    width: 50%;
    margin: auto;
    letter-spacing: .08em;
    line-height: 2em;
    text-align: justify;
}

#imagelocalfood {
    width: 50%;
    margin: calc(10%/6);
}

#paragraphlocalfood {
    text-align: center;
    font-size: 22px;
}

#paragraphlocalfoodsource {
    text-align: center;
    font-size: 16px;
}

#imageprofile {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#imagehome {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}